@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 30;
  box-sizing: border-box;
}

body {
  background-color: #8eb9ee;
  font-family: 'Dela Gothic One', cursive;
  margin: 0;
  padding: 0;
  border-bottom-color: #815454;

  nav {
    width: auto;
    height: auto;
    background: #ede9db;
    display: block;
    justify-content: baseline;
    align-items: center;
    padding: 10px 0;
  }
  > div a {
    margin: 30px;
  }

  box-sizing: border-box;
  width: auto;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
}
