@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8eb9ee;
  font-family: 'Dela Gothic One', cursive;
  margin: 0;
  padding: 0;

  nav {
    width: auto;
    height: auto;
    background: #ede9db;
    //display: block;
    /* justify-content: baseline;
    align-items: justify; */
    padding: 10px 0;
  }
  > div a {
    margin: 30px;
    align-items: center;
  }

  > main image {
    box-sizing: content-box;
  }

  box-sizing: border-box;
  width: auto;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.links {
  display: flex;
}
.nailing {
  list-style: none;
  margin: 0 0.75rem;
  text-transform: uppercase;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
