@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8eb9ee;
  font-family: 'Dela Gothic One', cursive;
  margin: 0;
  padding: 0;

  nav {
    width: auto;
    height: auto;
    background: #ede9db;
    display: flex;
    justify-content: baseline;
    align-items: justify;
    padding: 10px 0;
  }
  h1 {
    width: 500px;
    margin: 20px;
  }
  ul {
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center;
    list-style-type: none;
  }
  > div a {
    margin: 30px;
    align-items: center;
    text-decoration: none;
  }

  > main image {
    box-sizing: content-box;
  }

  box-sizing: border-box;
  width: auto;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
}

.map {
  display: flex;
  margin: 20px;
  border: solid red;
}
