.info {
  background: rgb(192, 214, 230);
  text-align: center;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #f8f7ff;
  border-radius: 5px;

  // width: 30%;
  /*  flex: 1 1 auto;
  position: relative; */
}
.titleWrapper {
  margin: 2rem 0;
}

.imageWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 6rem;
}
.name {
  text-decoration: none;
}
/* .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */
